<form method="post" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input id="title" type="text" name="article[title]" value="<%= @article.title %>">
  <textarea id="content" type="text" name="article[content]" value="<%= @article.content %>"></textarea>
  <input type="submit" />
</form>